@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&family=Raleway:wght@300;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
    /* background-color: #333333; */
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    /* padding: 0 100px; */
    background-color: #333333;
    background-size: cover;
    background-position: top;
}

label span{
    color: #ffffff;
}


label.logo{
    font-size: 35px;
    line-height: 80px;
    color: #f06a4d;
    font-weight: bold;
    padding: 0 100px;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
   text-transform: uppercase;
}

nav ul li a{
    font-size: 17px;
}
 a.active, a:hover{
     color: #f06a4d;
     transition: 0.5s;
 }

 .menu{
     color: #f06a4d;
     margin-left: 20px;
     line-height: 80px;
     cursor: pointer;
 }

 /*name-container */

 .name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 150px;
 }

 .name-container p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .header{
      font-size: 100px;
      font-weight: 100;
      font-family: Poppins;
      line-height: 7rem;
  }

  .designation{
    font-size: 120px;
    font-weight: 900;
    font-family: Raleway;
    line-height: 6.5rem;
  }

  .contact{
    background-color: #f06a4d;
    width: 11%;
    padding: 8px 10px;
    margin: 10px 0 0 6px;
    font-weight: 600;
    text-align: center;
  }

  /*About me */

  .about-me{
      height: 100vh;
      background-color: #232323;
      padding: 30px;
  }

  .about-me h1{
      text-align: center;
      color: #f06a4d;
      font-weight: 500;
      font-family: Poppins;
  }

  .about-me h1::before{
      content: "About";
      position: absolute;
      padding-left: 25px;
      /* font-size: 150px; */
      transform: scale(2.5); /* study */
      color: gray;
      opacity: 0.1;
  }

  .content{
      display: flex;
      padding: 0 100px;
  }

  .left-side{
      width: 50%;
      margin: 0 10px;
  }

  .picture{
    border-radius: 100%;
    position: relative;
    width: 100px;
    height: 100px;
  }

  .picture-container{
    border: 10px solid #f06a4d;
    width: 400px;
    position: absolute;
    height: 450px;
    /* margin: 0 20px;*/
  }

  .picture-container1{
    border: 10px solid #ffffff;
    width: 400px;
    position: relative;
    height: 450px;
    bottom: 30px;
    right: 41px;
    background-image: url(./images/potrait.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right-side{
    width: 50%;
    margin: 0px 15px;
}


  .name-container p span.typed-text {
    font-weight: normal;
    color: #f06a4d;
  }

  .name-container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

  .name-container p span.cursor.typing {
    animation: none;
  }

  

 h1, h2{
     font-weight: 200;
     margin: 0.4rem;
 }

 h1{
     font-size: 3.5rem;
 }

 h2{
     font-size: 2rem;
     color: #aaa;
 }

 .content-header{
     font-size: 20px;
     margin-bottom: 10px;
 }

 .content-header span{
     color: #f06a4d;
 }

 .user-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    text-align: center;
 }

 .user-info li{
     font-size: 18px;
     align-items: center;
     color: #f06a4d;
 }

 .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
 }

 .social-media i{
     margin: 0px 10px;
     border: 1px solid white;
     padding: 5px;
 }

 /*Project*/

 .project-section{
    height: 150vh;
    background-image: none;
    /* background-color: #232323; */
    padding: 30px;
}

 .project-section h1{
    text-align: center;
    color: #f06a4d;
    font-weight: 500;
    font-family: Poppins;
}

.project-section h1::before{
    content: "Projects";
    position: absolute;
    padding-left: 10px;
    /* font-size: 150px; */
    transform: scale(2); /* study */
    color: gray;
    opacity: 0.1;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flip-card-container{
    width: 300px;
    height: 400px;
    border:2px solid white;
    margin: 25px;
    border-radius: 10px;
}

.flip-card{
    position: relative;
    width: 100%;
    height: 100%;
   
}

.front-card, .back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.front-card{
    color:white;
}

.front-card p{
    font-size: 25px;
    position: absolute;
    font-weight: 500;
    bottom:10px;
    right: 5px;
    padding: 10px;
}

.front-card img{
    object-fit: cover;
    height: 395px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.back-card p{
    font-size: 15px;
}

.back-card{
    background-color: grayslate;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.back-card img{
    object-fit: cover;
    height: 250px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.back-card p{
    text-align: center;
   margin-bottom: 10px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.button-container button{
    color: white;
    background-color: #f06a4d;
    width: 100px;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    height:40px;
    border: none;
}

.card {
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
  }

.flip-card-container:hover .front-card {
    transform: rotateY(180deg);
}

.flip-card-container:hover .back-card {
    transform: rotateY(1deg);
}

/*Blogs*/
.blogs{
    height: 150vh;
    background-color: #232323;
    padding: 30px;
}

 .blogs h1{
    text-align: center;
    color: #f06a4d;
    font-weight: 500;
    font-family: Poppins;
}

.blogs h1::before{
    content: "My Blogs";
    position: absolute;
    padding-left: 10px;
    /* font-size: 150px; */
    transform: scale(2); /* study */
    color: gray;
    opacity: 0.1;
}

.blogs-container{
    display: flex;
    width: 1250px;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    object-fit: cover;
    position: relative;
    height: 70vh;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    flex: 0.5;
    transition: flex 0.5s ease-in;
}

.panel a{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    /* color: black; */
    
}


.panel.active{
    flex: 5;
}

.panel.active a{
 opacity: 1;
 transition: opacity 0.5s ease-in 0.2s;
 color: black;
 font-weight: 600;
}

@media(max-width:480px){
    .container{
        width: 50vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}





/*contact*/
.contact-me{
    background-color: #f06a4d;
    height: 300px;
    width: 100%;
    padding: 10px;
}

.contact-me h1{
    text-align: center;
    font-weight: 600;
}

.contact-me--details{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-evenly;
    align-items:center ;
    margin-top: 70px;
    text-align: center;
}

.contact-me--details p{
    font-size: 30px;
    font-weight: 600;
}

.contact-me--details p a{
    font-size: 15px;
    font-weight: normal;
}

 
 @media(min-width:1200px){
     p{
         font-size: 5rem;
     }
 }
 @media(max-width:800px){
     .name-container{
         padding: 0 1rem;
     }
     p{
         font-size: 3rem;
     }
 }

 @media(max-width:500px){
    p{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }